body{
    background-color: rgb(96, 210, 255);
}



#jumbotron{
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    
}

h2 {
    color:cornflowerblue;
}


