body{
    background-color: rgb(79, 127, 230);
    color: #4f7fe6;
}



#jumbotron{
    background-color: cornflowerblue;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    
}

h1.forcast, h2.history{

    color:rgb(248, 251, 255); 
}



h3{
    color: whitesmoke;
}

